<header>
    <h1>
      <span style="color: #1ab01c;">
        <i class="fa fa-bug" aria-hidden="true" style="color: white;"></i>Nodejs<span style="color: #c3e7d9e4;">Authentication</span>
    </span>
    </h1>
  </header>
  