<link rel="stylesheet" href="../assets/css/contact.css">
<div id="contact-page">
    <a href="/">HOME</a>

    <h1>Email : hemantmeghwanshi01@gmail.com</h1>
    <h1>Contact no. : +917976086627</h1>
    <h1>Linkedin : <a href="https://www.linkedin.com/in/hemant-kumar-meghwal-324377216/">hemant-kumar-meghwal</a></h1>

</div>