<link rel="stylesheet" href="../assets/css/Sign_In.css">
<div id="Sign_In">
    <a href="/">HOME</a>
    
    <form action="/users/forgot-password" method="POST">
        <input type="email" name="email" placeholder="Please enter your email"  required>
        <input type="submit" value="forgot passowrd">
    
    </form>

</div>
