<link rel="stylesheet" href="../assets/css/home.css">
<div id="Home-page">
        <a href="/" >Home</a>
        <a href="/users/sign-up" >Sign Up</a>
        <a href="/users/sign-in" >Sign In</a>
        <a href="/users/Contact-Us" >Contact Us</a>
</div>
