
<div id="Home-page">
        <a href="/" style="color:black; text-decoration: underline;">Home</a>
        <a href="/users/sign-up" style="color:black; text-decoration: underline;">Sign Up</a>
        <a href="/users/sign-in" style="color:black; text-decoration: underline;">Sign In</a>
        <a href="/Contact-Us" style="color:black; text-decoration: underline;">Contact Us</a>
</div>
