<link rel="stylesheet" href="../assets/css/profile.css">
<div id="profile-page">
    <a href="/">HOME</a>

    <h1>Name: <%= user.name %></h1>
    <p>Email: <%= user.email %></p>

    <a href="/users/sign-out" class="logout-btn">Logout</a>
</div>